{% block order %}
    <table>
    <tr>
    {% for order in bangazon_orders %}
            <td>{{ order }}</td>
        {% if not forloop.last and forloop.counter == 3 or forloop.counter == 6 %}
        </tr>
        <tr>
        {% endif %}
    {% endfor %}
        </tr>
    </table>
{% endblock %}

<!--Need to create a table containing
    product_model.Product.name
    product_type_model.ProductTypes.label_name
    product_model.Product.price

Also dropdown
    paymenttypes.PaymentType.card_type
    paymenttypes.PaymentType.card_number

Button for
    completing order-->