{% load staticfiles %}
<html>
    <head>
        <title>Bangazon Webstore</title>
        <!-- <link rel="stylesheet" href="{% static 'css/blog.css' %}"> -->
    </head>
    <body>
        <body>
            <div class="page-header">
                <h1><a href="/">Bangazon Webstore</a></h1>
                    <ul id="nav">
                        {% url 'bangazon_webstore:products' as products %}
                        {% url 'bangazon_webstore:account' as account %}
                        {% url 'bangazon_webstore:cart' as cart %}
                        {% url 'bangazon_webstore:login' as login %}
                        {% url 'bangazon_webstore:register' as register %}
                        {% url 'bangazon_webstore:logout' as logout %}
                        <li {% if request.path == products %} class = 'active' {% endif %}><a href="{% url 'bangazon_webstore:products' %}">View All Products</a></li>
                        <li  {% if request.path == account %} class='active' {% endif %}><a href="{% url 'bangazon_webstore:account' %}">account</a></li>
                        <li  {% if request.path == cart %} class='active' {% endif %}><a href="{% url 'bangazon_webstore:cart' %}">cart</a></li>
                        <li  {% if request.path == login %} class='active' {% endif %}><a href="{% url 'bangazon_webstore:login' %}">login</a></li>
                        <li  {% if request.path == register %} class='active' {% endif %}><a href="{% url 'bangazon_webstore:register' %}">register</a></li>
                        <li  {% if request.path == logout %} class='active' {% endif %}><a href="{% url 'bangazon_webstore:logout' %}">logout</a></li>
                    </ul>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </body>
    </body>
</html>